{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">

                <div class="container border border-dark bg-light rounded-2 m-1 p-1">

                    <p class="h1">Register</p>
                    <form action="{% url 'headline:register' %}" method=post enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-12">
                                {{ base_form | crispy }}
                                {{ profile_form | crispy }}
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <a href="{% url "headline:login" %}" class="btn btn-danger"
                                   id="registration-button">Go Back</a>
                            </div>
                            <div class="col-3 offset-1">
                                <button type="submit" class="btn btn-success" id="login-button">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock %}